.buscador {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #959595;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; 
}

.buscador:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
