.card {
    width: 300px;
    padding: 10;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background: #ffffff;
  }
  
  .tittle {
    font-size: 25px;
    margin-bottom: 5px;
    font-family: Arial;
    text-align: center;
  }
  
  .body {
    padding-top: 25px;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    color: #333;
    font-family: Arial;
    text-align: center;
  }
  
  
  